@model PagedList<Categories>
@{
    ViewBag.Title = "商品类型列表";
    string auth = MyAuthentication.GetAuth();
}
<table class="table" style="text-align: center" id="data">
    <thead class="table-dark">
        <tr>
            <td>类型名称</td>
            <td>状态</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody style="line-height: 50px;">
        @foreach (var cates in Model)
        {
            <tr>
                <td>@cates.CateName</td>
                <td style="color: @(cates.States == 0 ? "red" : "green");">@(cates.States == 0 ? "禁用" : "正常")</td>
                <td>
                    @if (cates.Categories1.Count() > 0)
                    {
                        <a class="btn-sm btn-info" data-bs-toggle="collapse" href="#@cates.CateName" role="button" aria-expanded="false" aria-controls="@cates.CateName">查看子级</a>
                    }
                    <a href="/Categories/Update?createsub=@cates.CateID" class="btn-sm btn-primary">新建子级</a>
                    <a href="/Categories/Update/@cates.CateID" class="btn-sm btn-success">编辑</a>
                    @Ajax.ActionLink(cates.States == 0 ? "启用" : "禁用", $"States", new { id = cates.CateID, pageIndex = Model.CurrentPageIndex, key = TempData["Search"] }, new AjaxOptions
                      {
                          UpdateTargetId = "ajax",
                          InsertionMode = InsertionMode.Replace,
                          OnSuccess = "showMessage('操作成功')"
                      }, new { @class = "btn-sm btn-warning" })
                    @if (auth == "1")
                    {
                        @Ajax.ActionLink("删除", $"Delete", new { id = cates.CateID, pageIndex = Model.CurrentPageIndex, key = TempData["Search"] }, new AjaxOptions
                       {
                           UpdateTargetId = "ajax",
                           InsertionMode = InsertionMode.Replace,
                           Confirm = "是否确认删除",
                           OnSuccess = "showMessage('删除成功')",
                           OnFailure = "showMessage('删除失败,该分类下还有相关的数据,请删除相关数据')"
                       }, new { @class = "btn-sm btn-danger" })
                    }
                    <div class="collapse" id="@cates.CateName">
                        <div class="card card-body">
                            <table class="table" style="text-align: center;line-height: 20px;" id="data">
                                <thead class="table-secondary">
                                    <tr>
                                        <td>子级名称</td>
                                        <td>状态</td>
                                        <td>操作</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var sub in cates.Categories1)
                                    {
                                        <tr>
                                            <td>@sub.CateName</td>
                                            <td style="color: @(sub.States == 0 ? "red" : "green");">@(sub.States == 0 ? "禁用" : "正常")</td>
                                            <td>
                                                <a href="/Categories/Update/@sub.CateID" class="btn-sm btn-success">编辑</a>
                                                @Ajax.ActionLink(sub.States == 0 ? "启用" : "禁用", $"States", new { id = sub.CateID, pageIndex = Model.CurrentPageIndex, key = TempData["Search"] }, new AjaxOptions
                                                  {
                                                      UpdateTargetId = "ajax",
                                                      InsertionMode = InsertionMode.Replace,
                                                      OnSuccess = "showMessage('操作成功')"
                                                  }, new { @class = "btn-sm btn-warning" })
                                                @if (auth == "1")
                                                {
                                                    @Ajax.ActionLink("删除", $"Delete", new { id = sub.CateID, pageIndex = Model.CurrentPageIndex, key = TempData["Search"] }, new AjaxOptions
                                                   {
                                                       UpdateTargetId = "ajax",
                                                       InsertionMode = InsertionMode.Replace,
                                                       Confirm = "是否确认删除",
                                                       OnSuccess = "showMessage('删除成功')",
                                                       OnFailure = "showMessage('删除失败,该分类下还有相关的数据,请删除相关数据')"
                                                   }, new { @class = "btn-sm btn-danger" })
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div style="margin: 50px 0px 50px 0px">
    @Ajax.Pager(Model, new PagerOptions
{
    PageIndexParameterName = "id",
    HorizontalAlign = "center",
    CurrentPagerItemTemplate = "<span class=\"btn-sm btn-primary\">{0}</span>",
    DisabledPagerItemTemplate = "<span class=\"btn-sm btn-light btn-lg\">{0}</span>",
    PagerItemTemplate = "<span class=\"btn-sm btn-light\">{0}</span>",
    FirstPageText = "<<",
    LastPageText = ">>",
    RouteValues = new RouteValueDictionary { { "key", $"{TempData["Search"]}" } }
}, new MvcAjaxOptions
{
    UpdateTargetId = "ajax",
    OnComplete = "document.documentElement.scrollTop = 0",
})
</div>