@model Products
@{
    ViewBag.Title = "商品详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Users user = ViewBag.user;
    List<Favorites> favorites = ViewBag.Favorites;
    List<Appraises> appraises = ViewBag.Appraise;
    FavoritesBLL favoritesBLL = new FavoritesBLL();
    string auth = MyAuthentication.GetAuth();
}

<div class="item d-flex flex-wrap container align-items-center justify-content-between">
    <h2 class="fw-bold">@ViewBag.Title</h2>
</div>
<div class="item d-flex flex-wrap container" style="display: flex;flex-direction: row;" id="info">
    <div class="card mb-3 rounded-3" style="height: 100%;">
        <div class="row g-0">
            <div class="col-md-4">
                <div class="flow" style="height: 100%; overflow: hidden;">
                    <div class="slider-for">
                        @foreach (var item in Model.Photos)
                        {
                            <img src="@item.PhotoUrl" alt="">
                        }
                    </div>
                    <div class="slider-nav" style="overflow: hidden;">
                        @foreach (var item in Model.Photos)
                        {
                            <img src="@item.PhotoUrl" alt="">
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body info">
                    <h4 class="title">@Model.Title</h4>
                    <h5 class="market-price">市场价: &yen;@Model.MarketPrice.ToString("0.00")</h5>
                    <h5 class="price">活动价: &yen;@Model.Price.ToString("0.00")</h5>
                    <h5 class="stock">库存: @Model.Stock 件</h5>
                    <div class="btn-group count" role="group" aria-label="Basic example" style="width: 40%;">
                        <span class="btn btn-secondary">销量 @Model.OrdersDetails.Sum(p => p.Quantity)</span>
                        <span class="btn btn-secondary">累计评价 @Model.Appraises.Count()</span>
                    </div>

                    @if (MyAuthentication.GetAuth() == "2")
                    {
                        <form method="get" action="/Orders/CheckOrder">
                            <input type="hidden" name="pid" value="@Model.ProductID" />
                            <input type="hidden" name="OnKeyBuy" value="@Model.ProductID" />
                            <div class="input-group mb-3" role="group" aria-label="Basic example" style="width: 100%;">
                                <span class="input-group-text">购买数量:</span>
                                <input class="input-group-text" oninput="if(value < 1)value=1" type="number" style="width: 90px;" class="form-control"
                                       value="1" name="quantity" id="quantity">
                                <span class="input-group-text">件</span>
                            </div>
                            <button type="submit" class="btn btn-success">立即购买</button>
                            @Ajax.ActionLink("添加购物车", $"AddProduct/{Model.ProductID}", "Cart", "", new AjaxOptions
                           {
                               OnSuccess = "showMessage('添加成功')",
                           }, new
                           {
                               onclick = $"$(this).attr('href',`/Cart/AddProduct/{Model.ProductID}?quantity=${{$('#quantity').val()}}`)",
                               type = "button",
                               @class = "btn btn-primary",
                               id = "addCart",
                           })
                            @{ string text = "添加收藏";}
                            @if (favorites.Any(f => f.ProductID == Model.ProductID && f.UserID == user.UserID))
                            {
                                text = "取消收藏";
                            }
                            @Ajax.ActionLink(text, $"Like/{Model.ProductID}", "Favorites", new { detail=1}, new AjaxOptions
                       {
                           UpdateTargetId = "like",
                           InsertionMode = InsertionMode.Replace,
                       }, new
                       {
                           id = "like",
                           @class = "btn btn-info"
                       })
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="width: 100%; height: 100%; justify-content: flex-start;">
        <nav>
            <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                        type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                    详细信息
                </button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                        type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                    评论(@Model.Appraises.Count())
                </button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade details active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                @Html.Raw(Model.Content)
            </div>
            <div class="tab-pane fade active" id="nav-profile" role="tabpanel"
                 aria-labelledby="nav-profile-tab">
                @using (Ajax.BeginForm($"AppraiseList/{Model.ProductID}", "Products", "", new AjaxOptions
                {
                    UpdateTargetId = "appraise",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET"
                }, new { id = "filter" }))
                {
                    <div class="input-group mb-3">
                        <select class="form-select" aria-label="Default select example" name="appraiseLevel">
                            <option value="-1" @if (TempData["appraiseLevel"].ToString() == "-1") { @Html.Raw("selected") }>全部</option>
                            <option value="0" @if (TempData["appraiseLevel"].ToString() == "0") { @Html.Raw("selected") }>好评</option>
                            <option value="1" @if (TempData["appraiseLevel"].ToString() == "1") { @Html.Raw("selected") }>中评</option>
                            <option value="2" @if (TempData["appraiseLevel"].ToString() == "2") { @Html.Raw("selected") }>差评</option>
                        </select>
                        <select class="form-select" aria-label="Default select example" name="appraiseOrderBy">
                            <option value="1" @if (TempData["appraiseOrderBy"].ToString() == "1") { @Html.Raw("selected") }>按时间</option>
                            <option value="0" @if (TempData["appraiseOrderBy"].ToString() == "0") { @Html.Raw("selected") }>默认</option>
                        </select>
                        <select class="form-select" aria-label="Default select example" name="appraiseSortBy">
                            <option value="1" @if (TempData["appraiseSortBy"].ToString() == "1") { @Html.Raw("selected") }>降序</option>
                            <option value="0" @if (TempData["appraiseSortBy"].ToString() == "0") { @Html.Raw("selected") }>升序</option>
                        </select>
                        <button class="btn btn-secondary" type="button" onclick="document.getElementById('filter').reset(); $('#filter').submit()">重置</button>
                        <button class="btn btn-secondary" type="submit">确定</button>
                    </div>
                }

                <div id="appraise">
                    @Html.Partial("_DetailsAppraise", Model.Appraises)
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $('.slider-for').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        fade: true,
        asNavFor: '.slider-nav',
        autoplay: true,
        autoplaySpeed: 1000
    });
    $('.slider-nav').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        asNavFor: '.slider-for',
        centerMode: true,
        focusOnSelect: true
    });
</script>
