@model PagedList<Products>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = $"商品列表  {TempData["cates"]}";
}

<div class="item d-flex flex-wrap container align-items-center justify-content-between" id="head">
    <div style="width:100%">
        <h2 class="fw-bold">@ViewBag.Title</h2>
        <span>@TempData["Message"]</span>
    </div>
    @using (Ajax.BeginForm("List", "", new AjaxOptions
    {
        UpdateTargetId = "ajax",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET",
        
    },new { id="filter"}))
    {
        <input type="hidden" name="key" value="@TempData["Search"]"/>
        <input type="hidden" name="cates" value="@TempData["cates"]" />
        <div class="input-group mb-3">
            <span class="input-group-text">价格区间:</span>
            <input type="number" style="width:10px" class="form-control" oninput="if(value < 0)value=0" placeholder="最低价" aria-label="priceMin" name="priceMin" value="@TempData["priceMin"]" id="min">
            <span class="input-group-text">~</span>
            <input type="number" class="form-control" placeholder="最高价" oninput="if(value < 0)value=0" aria-label="priceMax" name="priceMax" value="@TempData["priceMax"]" id="max">
            <select class="form-select" aria-label="Default select example" name="orderBy">
                <option value="Count" id="order">销量</option>
                <option value="Price">价格</option>
                <option value="Appraise">评论数</option>
                <option value="PostTime">上架时间</option>
            </select>
            <select class="form-select" aria-label="Default select example" name="sortBy">
                <option value="1" id="sort">降序</option>
                <option value="0" >升序</option>
            </select>
            <button class="btn btn-secondary" type="button" onclick="document.getElementById('filter').reset(); $('#filter').submit()" >重置</button>
            <button class="btn btn-secondary" type="submit">确定</button>
        </div>
    }
</div>
<div id="ajax">
    @Html.Partial("_CardList", Model)
</div>
@section scripts
{
    @{Html.RegisterMvcPagerScriptResource();}
}
