@{
    ViewBag.Title = "我的";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}


@if (((List<Orders>)ViewBag.NoPayOrders).Count() > 0)
{
    <h3 style="display:flex;justify-content:space-between;align-content:center;margin:20px">未付款订单</h3>
    <table class="table" style="text-align: center" id="data">
        <thead>
            <tr>
                <td>订单编号</td>
                <td>总价</td>
                <td>下单时间</td>
                <td>备注</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody style="line-height: 50px;">
            @foreach (var item in (List<Orders>)ViewBag.NoPayOrders)
            {
                <tr>
                    <td>@item.SerialID</td>
                    <td>@item.Total</td>
                    <td>@item.Orderdate</td>
                    <td>@item.Remark</td>
                    <td>
                        <a href="/Orders/Cashier/@item.OrdersID" class="btn-sm btn-primary">去付款</a>
                        <a class="btn-sm btn-info" role="button" href="/Orders/OrderDetails/@item.OrdersID">查看详情</a>
                        @if (item.OrdersDetails.Count() > 0)
                        {
                            <a class="btn-sm btn-info dropdown-toggle" data-bs-toggle="collapse" href="#order@(item.OrdersID)" role="button" aria-expanded="false" aria-controls="order@(item.OrdersID)"></a>
                        }
                        <div class="collapse" id="order@(item.OrdersID)">
                            <div>
                                <table class="table" style="text-align: center;line-height: 20px;" id="data">
                                    <thead class="table-secondary">
                                        <tr>
                                            <td></td>
                                            <td>商品名</td>
                                            <td>数量</td>
                                            <td>小计</td>
                                            <td>操作</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var sub in item.OrdersDetails)
                                        {
                                            <tr>
                                                <td><img src="@if(sub.Products.Photos.Count() > 0) {@sub.Products.Photos.OrderByDescending(p => p.States).First().PhotoUrl }" class="rounded" alt="" style="width: 50px;"></td>
                                                <td>@sub.Products.Title</td>
                                                <td>@sub.Quantity</td>
                                                <td>@((sub.Quantity * sub.Products.Price).ToString("0.00"))</td>
                                                <td>
                                                    @if (item.States == 3)
                                                    {
                                                        <a href="/Appraises/Create/@sub.ProductID" class="btn-sm btn-primary">去评价</a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (((List<Orders>)ViewBag.NoSendOrders).Count() > 0)
{
    <h3 style="display:flex;justify-content:space-between;align-content:center;margin:20px">未发货订单</h3>
    <table class="table" style="text-align: center" id="data">
        <thead>
            <tr>
                <td>订单编号</td>
                <td>总价</td>
                <td>下单时间</td>
                <td>备注</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody style="line-height: 50px;">
            @foreach (var item in (List<Orders>)ViewBag.NoSendOrders)
            {
                <tr>
                    <td>@item.SerialID</td>
                    <td>@item.Total</td>
                    <td>@item.Orderdate</td>
                    <td>@item.Remark</td>
                    <td>
                        <a class="btn-sm btn-info" role="button" href="/Orders/OrderDetails/@item.OrdersID">查看详情</a>
                        @if (item.OrdersDetails.Count() > 0)
                        {
                            <a class="btn-sm btn-info dropdown-toggle" data-bs-toggle="collapse" href="#order@(item.OrdersID)" role="button" aria-expanded="false" aria-controls="order@(item.OrdersID)"></a>
                        }
                        <div class="collapse" id="order@(item.OrdersID)">
                            <div>
                                <table class="table" style="text-align: center;line-height: 20px;" id="data">
                                    <thead class="table-secondary">
                                        <tr>
                                            <td></td>
                                            <td>商品名</td>
                                            <td>数量</td>
                                            <td>小计</td>
                                            <td>操作</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var sub in item.OrdersDetails)
                                        {
                                            <tr>
                                                <td><img src="@if(sub.Products.Photos.Count() > 0) {@sub.Products.Photos.OrderByDescending(p => p.States).First().PhotoUrl }" class="rounded" alt="" style="width: 50px;"></td>
                                                <td>@sub.Products.Title</td>
                                                <td>@sub.Quantity</td>
                                                <td>@((sub.Quantity * sub.Products.Price).ToString("0.00"))</td>
                                                <td>
                                                    @if (item.States == 3)
                                                    {
                                                        <a href="/Appraises/Create/@sub.ProductID" class="btn-sm btn-primary">去评价</a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (((List<Orders>)ViewBag.NoGiveOrders).Count() > 0)
{
    <h3>未收货订单</h3>
    <table class="table" style="text-align: center" id="data">
        <thead>
            <tr>
                <td>订单编号</td>
                <td>总价</td>
                <td>下单时间</td>
                <td>备注</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody style="line-height: 50px;">
            @foreach (var item in (List<Orders>)ViewBag.NoGiveOrders)
            {
                <tr>
                    <td>@item.SerialID</td>
                    <td>@item.Total</td>
                    <td>@item.Orderdate</td>
                    <td>@item.Remark</td>
                    <td>
                        <a class="btn-sm btn-info" role="button" href="/Orders/OrderDetails/@item.OrdersID">查看详情</a>
                        @if (item.OrdersDetails.Count() > 0)
                        {
                            <a class="btn-sm btn-info dropdown-toggle" data-bs-toggle="collapse" href="#order@(item.OrdersID)" role="button" aria-expanded="false" aria-controls="order@(item.OrdersID)"></a>
                        }
                        <div class="collapse" id="order@(item.OrdersID)">
                            <div>
                                <table class="table" style="text-align: center;line-height: 20px;" id="data">
                                    <thead class="table-secondary">
                                        <tr>
                                            <td></td>
                                            <td>商品名</td>
                                            <td>数量</td>
                                            <td>小计</td>
                                            <td>操作</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var sub in item.OrdersDetails)
                                        {
                                            <tr>
                                                <td><img src="@if(sub.Products.Photos.Count() > 0) {@sub.Products.Photos.OrderByDescending(p => p.States).First().PhotoUrl }" class="rounded" alt="" style="width: 50px;"></td>
                                                <td>@sub.Products.Title</td>
                                                <td>@sub.Quantity</td>
                                                <td>@((sub.Quantity * sub.Products.Price).ToString("0.00"))</td>
                                                <td>
                                                    @if (item.States == 3)
                                                    {
                                                        <a href="/Appraises/Create/@sub.ProductID" class="btn-sm btn-primary">去评价</a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
