@model PagedList<Users>
@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string auth = MyAuthentication.GetAuth();
}
@if(auth != "1")
{
    return;
}
<div style="display:flex;justify-content:space-between;align-content:center;margin:20px">
    <h2>@ViewBag.Title</h2>
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button type="button" class="btn btn-danger" onclick="deleteList()">删除</button>
        <button type="button" onclick="location.href='/Users/Update'" class="btn btn-success">添加</button>
    </div>
</div>
<table class="table" style="text-align: center" id="data">
    <thead class="table-dark">
        <tr>
            <td><input class="form-check-input ck ckm" type="checkbox" value="" id="flexCheckDefault" onclick="selectAll(this)"></td>
            <td>用户名</td>
            <td>昵称</td>
            <td>邮箱</td>
            <td>密码</td>
            <td>默认地址</td>
            <td>状态</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody style="line-height: 50px;">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" class="ck ckn" value="@item.UserID" id="flexCheckDefault">
                </td>
                <td>@item.UserName</td>
                <td>@item.Nick</td>
                <td>@item.Email</td>
                <td>  
                    <a class="mask" onclick="show(this,'@item.Pwd')" href="#">********</a>   
                </td>
                <td>@if(@item.Deliveries1 != null) { @item.Deliveries1.Consignee}</td>
                <td style="color: @(item.States == 0 ? "red" : "green");">@(item.States == 0 ? "禁用" : "正常")</td>
                <td>
                    <a href="/Users/Update/@item.UserID" class="btn-sm btn-primary">编辑</a>
                    <a href="/Users/Details/@item.UserID" class="btn-sm btn-success">详情</a>
                    <a href="/Users/States/@item.UserID" class="btn-sm btn-warning">@(item.States == 0 ? "启用" : "禁用")</a>
                    <a href="/Users/Delete/@item.UserID" class="btn-sm btn-danger" onclick="return confirm('是否确认删除')">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div style="margin: 50px 0px 50px 0px">
    @Html.Pager(Model, new PagerOptions
        {
        PageIndexParameterName = "id",
        HorizontalAlign = "center",
        CurrentPagerItemTemplate = "<span class=\"btn-sm btn-primary\">{0}</span>",
        DisabledPagerItemTemplate = "<span class=\"btn-sm btn-light btn-lg\">{0}</span>",
        PagerItemTemplate = "<span class=\"btn-sm btn-light\">{0}</span>",
        FirstPageText = "<<",
        LastPageText = ">>"
    })
</div>


<script>
    function selectAll(o) {
        $(".ck").prop("checked", o.checked)
    }
    function deleteList() {
        if (confirm('是否确认删除,会清空该用户的所有信息!')) {
            let boxies = $(":checked").not(".ckm")
            let ids = ""
            if (boxies.length != 0) {
                boxies.each((i, e) => {
                    ids += $(e).val() + (i == (boxies.length - 1) ? "" : ",")
                })
                if (ids.length != 0) {
                    $.post("/Users/Delete", { "ids": ids }, () => {
                        location.href = "/Users"
                    })
                } else {
                    $(".toast-body").text("你还未选中任何一条记录")
                    new bootstrap.Toast(document.getElementById('liveToast')).show()
                }
            } else {
                $(".toast-body").text("你还未选中任何一条记录")
                new bootstrap.Toast(document.getElementById('liveToast')).show()
            }
        }
    }
    function show(e, p) {
        if (e.innerHTML == p) {
            e.innerHTML = "********"
        }
        else {
            e.innerHTML = p
        }
    }

</script>