@model List<OrdersDetails>
@{
    ViewBag.Title = "确认订单";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Deliveries> deliveries = ViewBag.Deliveries;
    Users user = ViewBag.User;
}
<form action="/Orders/CreateOrder" method="get">
    <div class="item container" style="display: flex;flex-direction: column;background-color: white;width: 100%;">
        <h2 class="fw-bold" style="margin-top: 20px">确认订单</h2>
        <ul class="list-group" style="margin-top: 10px;margin-bottom: 50px">
            @foreach (var item in deliveries)
            {
                <li class="list-group-item">
                    <input class="form-check-input" type="radio" name="id" value="@item.DeliveryID" @(user.Deliveries1.DeliveryID == item.DeliveryID ? "checked" : "") onclick="exchange(this)">
                    @item.Consignee (@item.Phone) @item.Complete
                </li>
            }
        </ul>

        <h4>订单信息</h4>
        @if (ViewBag.OnKeyBuy != null)
        {
            <input type="hidden" name="pid" value="@ViewBag.Pid" />
            <input type="hidden" name="quantity" value="@ViewBag.Quantity" />
        }
        <table class="table" style="text-align: center" id="data">
            <thead>
                <tr>
                    <td></td>
                    <td>商品名</td>
                    <td>单价</td>
                    <td>数量</td>
                    <td>小计</td>
                </tr>
            </thead>
            <tbody style="line-height: 50px;">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img src="@if (item.Products.Photos.Count() > 0) {@item.Products.Photos.OrderByDescending(p => p.States).First().PhotoUrl }" class="rounded" alt="" style="width: 50px">
                        </td>
                        <td>@item.Products.Title</td>
                        <td>&yen;@item.Products.Price.ToString("0.00")</td>
                        <td>@item.Quantity </td>
                        <td>@((item.Products.Price * item.Quantity).ToString("0.00"))</td>
                    </tr>
                }
            </tbody>
        </table>
        <p style="font-size: 20px">
            <span id="count" style="color: orange;">@Model.Sum(c => c.Quantity)</span> 件商品 | 总计: &yen; <span id="sum" style="color: orange;">@Model.Sum(c => (c.Quantity * c.Products.Price)).ToString("0.00")</span>
        </p>
        <div class="form-floating" style="margin-bottom: 30px">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" name="remark" style="height: 100px"></textarea>
            <label for="floatingTextarea2">备注</label>
        </div>
        <p>
            <button type="submit" class="btn btn-success">提交订单</button>
            <button href="/Cart" type="button" class="btn btn-primary" onclick="window.history.go(-1)">返回</button>
        </p>
    </div>
</form>


