@model Orders
@{
    ViewBag.Title = "订单详情";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div style="display:flex;justify-content:space-between;align-content:center;margin:20px">
    <h2>发货清单</h2>
</div>
<div class="card" style="mar">
    <div class="card-body">
        <h4 style="margin-top: 20px">商品列表</h4>
        <table class="table" style="text-align: center" id="data">
            <thead>
                <tr>
                    <td></td>
                    <td>商品名</td>
                    <td>单价</td>
                    <td>数量</td>
                    <td>小计</td>
                </tr>
            </thead>
            <tbody style="line-height: 50px;">
                @foreach (var item in Model.OrdersDetails)
                {
                    <tr>
                        <td>
                            <img src="@if (item.Products.Photos.Count() > 0) {@item.Products.Photos.OrderByDescending(p => p.States).First().PhotoUrl }" class="rounded" alt="" style="width: 50px">
                        </td>
                        <td>@item.Products.Title</td>
                        <td>&yen;@item.Products.Price.ToString("0.00")</td>
                        <td>@item.Quantity </td>
                        <td>@((item.Products.Price * item.Quantity).ToString("0.00"))</td>
                    </tr>
                }
            </tbody>
        </table>
        <p style="font-size: 20px">
            <span id="count" style="color: orange;">@Model.OrdersDetails.Sum(c => c.Quantity)</span> 件商品 | 总计: &yen; <span id="sum" style="color: orange;">@Model.OrdersDetails.Sum(c => (c.Quantity * c.Products.Price)).ToString("0.00")</span>
        </p>

        <h4 style="margin-top: 20px">收货地址</h4>
        <div class="card" style="justify-content: flex-start;">
            <div class="card-header">
                @Model.Deliveries.Consignee (@Model.Deliveries.Phone)
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>@Model.Deliveries.Complete</p>
                </blockquote>
            </div>
        </div>

        <h4 style="margin-top: 20px">详细信息</h4>
        <div>
            <p>订单编号: @Model.SerialID</p>
            <p>用户名: @Model.Users.UserName</p>
            <p>下单时间: @Model.Orderdate</p>
            <form method="post" action="/Orders/Send">
                <input type="hidden" name="OrdersID" value="@Model.OrdersID" />
                <div class="col-md-6">
                    <label class="form-label">快递单号: </label>
                    <input type="text" class="form-control" name="ExpressNumber" value="@if (Model != null) {@Model.ExpressNumber}">
                </div>
                <div class="col-md-6">
                    <label class="form-label">快递公司: </label>
                    <input type="text" class="form-control" name="ExpressType" value="@if (Model != null) {@Model.ExpressType}">
                </div>
                <div class="col-12" style="margin-top: 20px">
                    <button type="submit" class="btn btn-success">发货</button>
                    <a href="/Orders" class="btn btn-primary">返回</a>
                </div>
            </form>
        </div>
    </div>
</div>




