
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container" style="margin-top: 20px;">
    <div class="row g-2">
        <div class="col-3">
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">待处理事务</li>
                <li class="list-group-item">待付款订单<span style="color: red">(@ViewBag.prepay)</span></li>
                <li class="list-group-item">待发货订单<span style="color: red">(@ViewBag.presend)</span></li>
                <li class="list-group-item">已发货订单<span style="color: red">(@ViewBag.send)</span></li>
                <li class="list-group-item">已收货订单<span style="color: red">(@ViewBag.success)</span></li>
                <li class="list-group-item">已完成订单<span style="color: red">(@ViewBag.complete)</span></li>
            </ul>
        </div>
        <div class="col-3">
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">商品总览</li>
                <li class="list-group-item">已上架<span style="color: red">(@ViewBag.up)</span></li>
                <li class="list-group-item">已下架<span style="color: red">(@ViewBag.down)</span></li>
                <li class="list-group-item">库存紧张<span style="color: red">(@ViewBag.warn)</span></li>
                <li class="list-group-item">全部商品<span style="color: red">(@ViewBag.count)</span></li>
            </ul>
        </div>
        <div class="col-3">
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">用户总览</li>
                <li class="list-group-item">今日新增<span style="color: red">(@ViewBag.today)</span></li>
                <li class="list-group-item">昨日新增<span style="color: red">(@ViewBag.yesterday)</span></li>
                <li class="list-group-item">本月新增<span style="color: red">(@ViewBag.month)</span></li>
                <li class="list-group-item">用户总数<span style="color: red">(@ViewBag.count)</span></li>
            </ul>
        </div>
    </div>
    <div class="row g-2" style="margin-top:20px">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">待处理事务</li>
                <li class="list-group-item">待付款订单<span style="color: red">(@ViewBag.prepay)</span></li>
                <li class="list-group-item">待发货订单<span style="color: red">(@ViewBag.presend)</span></li>
                <li class="list-group-item">已发货订单<span style="color: red">(@ViewBag.send)</span></li>
                <li class="list-group-item">已收货订单<span style="color: red">(@ViewBag.success)</span></li>
                <li class="list-group-item">已完成订单<span style="color: red">(@ViewBag.complete)</span></li>
            </ul>
        </div>
    </div>
</div>


